<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <div class="flex-column abs">
        <a class="navbar-brand" [routerLink]="['/']">ProductManager</a>
        <small *ngIf="isLoggedIn" class="small">
          {{ role }}
        </small>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/browse']">
              Browse
            </a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/logout']">
              Logout
            </a>
          </li>
          <li *ngIf="!isLoggedIn" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/login']">
              Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
